@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-size: 30px;
    font-weight: 600;
    color:#000000;
    text-transform: uppercase;
    background-color: #ffffff;
    padding: 15px 480px;
    border: 5px solid #000000;
    margin: 50px;
}
.container{
    width: 50%;
    margin: auto;
    margin-bottom: 100px;
    padding: 10px;
}
.title{
    font-size: 18px;
    float: left;
    width: 22%;
}
.input{
    margin-left: 20px;
    padding: 5px;
    font-size: 18px;
    float: left;
}
.none_border{
    border: none;
}
.button{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    background: #fff;
    padding: 10px 15px;
    width: 25%;
    color: #353535;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 6px 6px 29px -40px rgba(0,0,0,0.75);
    text-decoration: none;
    transition: 0.4s;
}
.button:hover{
    background: #353535;
    color: #fff;
}